body{
	#page{
		.site-content{
			#primary{
		    position: relative;
		    margin-top: -285px;
		    margin-bottom: -50px;
		    #main{
		    	.master-slider{
		    		min-height: 650px;
		    		background: black;
    		    margin: -100px 0 !important;
		    	}
		    	.seasons{
		    		display: block;
		    		width: 95%;
		    		max-width: 1050px;
		    		margin: 0 auto; 
		    		position: relative;
		    		top: -280px;
		    		margin-bottom: -280px;
						ul{
							margin: 0;
			    		li{
			    			display: inline-block;
			    			width: 33%;
			    			img{
			    				width: 100%;
			    				height: auto;
			    			}
			    		}
			    	}
		    	}
		    	.middle{
				    display: inline-block;
				    width: 100%;
				    position: relative;
				    background: url(../storefront/assets/images/Wood_bkgrd.jpg);
				    background-size: 100% 110%;
				    background-position: 0px;
				    box-shadow: inset 0px 10px 30px rgba(0, 0, 0, .5);
		    		.inner{
			    		display: block;
			    		width: 95%;
			    		max-width: 1150px;
			    		margin: 0 auto; 
			    		position: relative;		
			    		padding: 75px 0;    			
			    		.left{
			    			display: inline-block;
							  width: 65%;
							  margin-right: 4%;
							  position: relative;
							  margin-top: 10px;
							  height: auto;
							  vertical-align: top;
							  .opening{
							  	display: inline-block;
							  	width: 100%;
							  	padding: 45px 0;
							  	text-align: center;
							  	color: white;
							  	font-family: helvetica;
							  	font-weight: bold;
							  	font-size: 21pt;
							    background: url(../storefront/assets/images/brown_bg.png);
							    background-size: 100% 100%;			
							    margin-bottom: 15px;			
							    text-shadow: 2px 2px 1px rgba(0,0,0,.75);	  	
							    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
							  }
							  .insta{
							  	display: inline-block;
							  	width: 100%;
							  	padding: 20px 30px;
							  	color: white;
							  	font-family: helvetica;
							  	font-weight: bold;
							  	font-size: 22pt;
							    background: url(../storefront/assets/images/light_bg.png);
							    background-size: 100% 100%;					
							    h1{
					         font-family: 'Simonetta', cursive;
					         font-weight: 400;
					         color: #b22348;
					         margin-bottom: 15px;
					         font-size: 25pt;
					         text-shadow: 1px 1px 1px rgba(0,0,0,.4);
							    }		  
							    .feed{
							    	display: inline-block;
							    	width: 100%;
							    	.alignnone{
							    		margin: 0;
							    	}
							    	a{
							    		display: inline-block;
							    		width: 33%;
							    		margin: 0 -3px;
							    		img{
							    			width: 100%;
							    		}
							    	}
							    }	
							  }							  
			    		}
			    		.basic{
						    display: inline-block;
						    width: 30%;
						    margin: 0 -3px;
						    position: relative;
						    right: 0;
						    top: 0;
						    background: #eae5d8;
						    height: auto;
						    min-height: 400px;
						    padding: 40px 25px 10px;
						    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.65);
						    font-size: 12pt;
						    line-height: 30px;
						    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
							  &:before{
							  	content:'';
							  	display: inline-block;
							  	position: absolute;
							  	top: 15px;
							  	left: 15px;
							  	width: 8px;
							  	height: 8px;
							  	background: #2e2f2d;
							  	border-radius: 50%;
							  }
							  &:after{
							  	content:'';
							  	display: inline-block;
							  	position: absolute;
							  	top: 15px;
							  	right: 15px;
							  	width: 8px;
							  	height: 8px;
							  	background: #2e2f2d;
							  	border-radius: 50%;
							  }		
				        h1{
				         font-family: 'Simonetta', cursive;
				         font-weight: 400;
				         color: #b22348;
				         margin-bottom: 15px;
				         font-size: 28pt;
				         text-shadow: 1px 1px 1px rgba(0,0,0,.4);
				        }
							  img{
							  	width: 98%;
							  	display: block;
							  	margin: 0 auto;
							  	height: auto;
							  }					  
							}
						}
		    	}		    	
		    }
			}
		}
	}
}

