@media screen and (max-width: 1450px){
	.master-slider{
		.ms-container{
			height: 650px !important;
			.ms-inner-controls-cont{
				height: inherit !important;
				.ms-view{
					height: inherit !important;
					.ms-slide-container{
						height: inherit !important;
						.ms-slide{
							height: inherit !important;
							.ms-slide-bgcont{
								height: inherit !important;
								img{
									width: 155% !important;
									height: auto !important;
									max-width: inherit !important;
								}								
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1400px){
	body {
		#page {
			.site-header {
				.navigation_inner {
					.site-branding{
						max-width: 350px;
					}
					.storefront-primary-navigation {
						#site-navigation{
							.primary-navigation {
								ul {
									li{
										a{
											padding: 0 10px;
										}
									}
								}
							}
						}
						.site-header-social{
							margin: 10px 0 0 0;
						}
					}
				}
			}
			.site-content {
				#primary {
					#main {
						.master-slider{
							margin: -25px 0 !important;
						}
						.seasons{
							top: -300px;
							margin-bottom: -300px;
						}
						.middle {
							.inner {
								.left{
									width: 60%;
								}
								.basic{
									width: 35%;
									font-size: 14pt;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1175px){
	body {
		#page {
			.site-header {
				.navigation_inner {
					width: 99%;
					.site-branding{
						max-width: 275px;
					}					
					.storefront-primary-navigation {
						#site-navigation{
							.primary-navigation {
								ul {
									li{
										a{
											padding: 0 7.5px;
											font-size: 12pt;
										}
									}
								}
							}
						}
						.site-header-social{
							margin: 20px 0 0 0;
							li{
								width: 18%;
								margin: 0;
							}
						}
					}
				}
			}
			.site-content {
				#primary {
					#main {
						.middle {
							.inner {
								.left{
									width: 56%;
									margin-top: 25px;									
									.opening{
										margin-bottom: 30px;
									}
									.insta{
										.title{
											width: 100%;
										}
									}
								}
								.basic{
									width: 40%;
								}
							}
						}
					}
				}
			}
		}
	}
	.site-footer {
		.footer-widgets {
			width: 95%;
			.footer-widget-1 {
				.widget_text {
					.textwidget {
						a{
							width: 100%;
						}
					}
				}
			}
			.footer-widget-2{
				padding-top: 7%;
				.widget_text {
					.textwidget {
						.calendar{
							width: 200px;
							padding: 20px 25px;
							font-size: 18pt;
						}
					}
				}
			}
			.footer-widget-3 {
				padding-top: 7%;
				.widget_text {
					.textwidget {
						.win{
							font-size: 22pt;
						}
						.solar{
							margin: 0;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 980px){
	body {
		#page {
			&.active{
				right: 75%;
				.storefront-primary-navigation{
			    right: 0 !important;
				}
			}
			.site-header {
				.navigation_inner {
					.site-branding{
						max-width:280px; 
						a{
							img{
								top: -10px;
								position: relative;
							}
						}
					}
					.toggle{
						display: inline-block;
					}
					.storefront-primary-navigation {
						position: fixed;
						overflow: scroll;
						right: -75%;
				    -webkit-transition: .5s;
				    -moz-transition: .5s;
				    -ms-transition: .5s;
				    -o-transition: .5s;
				    transition: .5s;
				    background: url(../storefront/assets/images/Wood_bkgrd.jpg);
				    background-size: cover;
				    box-shadow: inset 20px 0 30px rgba(0, 0, 0, 0.35);
				    width: 75%;
				    height: 100vh;				    
						#site-navigation{
							width: 85%;
							text-align: center; 
					    display: block;
					    position: relative;
					    background: #eae5d8;
					    height: auto;
					    float: none;
					    margin: 30px auto;
					    padding: 20px 15px 20px;
					    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.65);
						  &:before{  
						    content: '';
						    display: inline-block;
						    position: absolute;
						    top: 15px;
						    left: 15px;
						    width: 8px;
						    height: 8px;
						    background: #2e2f2d;
						    border-radius: 50%;					    
						  }
						  &:after{  
						    content: '';
						    display: inline-block;
						    position: absolute;
						    top: 15px;
						    right: 15px;
						    width: 8px;
						    height: 8px;
						    background: #2e2f2d;
						    border-radius: 50%;					    
						  }						  
							.primary-navigation {
								display: inline-block;
								margin: 0;
								padding-top: 20px;
								width: 100%;
								ul {
									li{
								    margin: 0;
								    border-bottom: 1px solid rgba(0,0,0,.15);
								    border-top: 1px solid rgba(255,255,255,.75);
								    padding: 10px 0;				
								    position: relative;	
								    display: block;
								    text-align: center; 
										&.menu-item-has-children{
											&:hover{
												background: transparent !important;
											}
											&.active{
												.sub-menu{
													height: auto;
												}
											}
											&:after{
								        content: "\e114";
						            display: inline-block;
										    font-family: 'Glyphicons Halflings';
										    z-index: 10;
										    position: absolute;
										    right: 0;
										    background: transparent;
										    line-height: 60px;
										    width: 50px;
										    top: 0;
											}
										}								    
										.sub-menu{
											background: transparent !important;
											height: 0;
											overflow: hidden;
											margin: 0; 
											position: relative;
											box-shadow: none !important;
											position: relative;
											left: 0;
											right: 0;
											width: 100%;
											li{
												border: none;
												a{
													font-size: 11pt;
													padding: 0;
													color: #333;
													line-height: 25px !important;
													&:hover{
														background: #de782a;
													}
												}
											}
										}
								    &:nth-of-type(1){
								    	border-top: none;
								    }			
								    &:last-of-type{
								    	border-bottom: none;
								    }			
								    &.current_page_item{
								    	a{
								    		color: #890826;
								    	}
								    }
										a{
											font-size: 18pt;
											color: #4a4a4a;
											line-height: 40px;
											position: relative;
											text-shadow: 2px 2px 1px rgba(0,0,0,.15);
											&:focus{
												color: transparent !important;
											}
											&:hover{
												background: transparent;
											}
											&:before{
												display: none;
											}	
											&:after{
												display: none;
											}												
										}
									}
								}
							}
						}
						.site-header-social{
							margin-top: 18px;
							width: 85%;
							float: none;
							display: block;
							margin: 0 auto 150px;
							li{
								width: 20%;
								margin: 0 -1.5px;
							}
						}
					}
				}
			}
			.site-content {
				#primary {
					#main {
						.seasons{
					    top: -225px;
					    margin-bottom: -250px;
							ul{
							}
						}
						.middle {
							.inner {
								.left{
									width: 100%;
									margin: 0 auto;
									.opening{
									}
									.insta{
										.title{
											width: 60%;
										}
									}
								}
								.basic{
									font-size: 13pt;
									width: 98%;
									margin: 30px auto;	
									display: block								
								}
							}
						}
					}
				}
			}
		}
	}
	.site-footer {
		.footer-widgets {
			.footer-widget-2 {
				.widget_text {
					.textwidget {
						.calendar{
							width: 170px;
							padding: 15px 20px;
							line-height: 26px;
							&:after{
								width: 90px;
						    height: 70px;
						    top: 10px;
						  }
						}
					}
				}
			}
			.footer-widget-3 {
				padding-top: 2%;
				.widget_text {
					.textwidget{
						.win{
							font-size: 18pt;
							width: 100%;
						}
						.solar{
							width: 35%;
						}
					}
				}
			}
		}
		.footer-menu{
			padding-top: 25px;
			ul{
				li{
					margin: 0 20px;
					a{
						font-size: 16pt;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	body {
		#page {
			.site-content {
				#primary {
					#main {
						.page{
							margin: 0;
						}
						#summer-panel{
					    background: url(../storefront/assets/images/pumpkin.jpg);
					    background-size: cover;
					    height: 100vh;
					    position: fixed;
					    z-index: -1;
					    top: 0px;
					    display: inline-block;
					    width: 100%;
					    .master-slider{
					    	display: none;
					    }
						}						
						.seasons{
							top: 0;
							display: block;
							margin-bottom: 50px;
							ul{
								margin: 0; 
								li{
									width: 100%;
								}
							}
						}
						.middle {
							.inner {
								.left {
									.opening{
										font-size: 18pt;
									}
								}
							}
						}
					}
				}
			}
		}
		.site-footer {
			.footer-widgets {
				.footer-widget-1 {
					.widget_text {
						.textwidget {
							a{
						    width: 50%;
						    min-width: 250px;
						    display: block;
						    margin: 0 auto;
							}
						}
					}
				}
				.footer-widget-2 {
					display: block;
					padding-top: 8%;
					margin: 75px 0 85px; 
					.widget_text {
						.textwidget {
							.calendar{
								transform: scale(1.2);
								-webkit-transform: scale(1.2);
								-moz-transform: scale(1.2);
								-ms-transform: scale(1.2);
								-o-transform: scale(1.2);
								left: -20px;
							}
						}
					}
				}
				.footer-widget-3 {
					display: block;
					padding-top: 8%;
					.widget_text {
						.textwidget{
							.win{
								font-size: 24pt;
								width: 100%;
								margin: 0 0 20px 0;
							}
							.solar{
								width: 125px;
							}
						}
					}
				}
			}
			.footer-menu{
				margin-top: 40px;
				padding-top: 25px;
				background-size: 200% 200%;
				height: auto;
				ul{
					margin: 0;
					padding: 0 0 30px 0;
					li{
						margin: 0;
						width: 100%;
				    border-bottom: 1px solid rgba(0,0,0,.15);
				    border-top: 1px solid rgba(255,255,255,.15);
				    &:first-of-type{
				    	border-top: none;
				    }
				    &:last-of-type{
				    	border-bottom: none;
				    }				    
						a{
							font-size: 16pt;
							display: inline-block;
							width: 100%;
							padding: 10px 0;
						}
					}
				}
			}
		}		
	}
}
@media screen and (max-width: 550px){
	body {
		#page {
			.site-content {
				#primary {
					#main {
						.page{
							margin: 0;
						}
						.seasons{
							top: 0;
							margin-bottom: 50;
							ul{
								li{
									width: 100%;
									margin-bottom: -25px;
								}
							}
						}
						.middle {
							background-size: cover;
							.inner {
								.left {
									.opening{
										font-size: 22pt;
										padding: 45px 30px;
									}
									.insta {
										.title {
											width: 100%;
										}
										.feed{
											margin: 15px 0;
											a{
												width: 100%;
											}
										}
									}								
								}
							}
						}						
					}
				}
			}
		}
	}
}