body{
	#page{
		position: relative;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    right: 0;
		.site-header{
			width: 100%;
			display: block;
			margin: 0 auto;
			padding-top: 0;
			background: url(http://armorsecurityandprotection.com/stokoe/wp-content/uploads/2017/05/topdarkwoodstrip.png) no-repeat;
			background-size: 100% 100%;
			height: 80px;
			/*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);*/
			margin-bottom: -50px;
			.navigation_inner{
				width: 95%;
				max-width: 1200px;
				display: block;
				margin: 0 auto; 
				position: relative;
				.site-branding{
					display: inline-block;
					width: 80%;
					max-width: 425px;
					padding-top: 10px;
					a{
						width: 100%;
						height: auto;						
						img{
							width: 100%;
							height: auto;
						}
					}
				}
				.toggle{
					position: absolute;
					top: 15px;
					right: 15px;
					width: 45px;
					height: 45px;
					border: 3px solid white;
					border-radius: 50%;
					z-index: 12;
					padding: 10px 0;
					display: none;
					cursor: pointer;
					z-index: 22;
					&.active{
						span{
					    -webkit-transition: top .1s .1s ease-in-out,-webkit-transform .1s .2s ease-in-out;
					    -moz-transition: top .1s .1s ease-in-out,-moz-transform .1s .2s ease-in-out;
					    -ms-transition: top .1s .1s ease-in-out,-ms-transform .1s .2s ease-in-out;
					    -o-transition: top .1s .1s ease-in-out,-o-transform .1s .2s ease-in-out;
					    transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
					    &:nth-of-type(1){
			    	    -webkit-transform: rotate(45deg);
						    -moz-transform: rotate(45deg);
						    -ms-transform: rotate(45deg);
						    -o-transform: rotate(45deg);
						    transform: rotate(45deg);
						    top: 18px;
					    }
					    &:nth-of-type(2){
			    	    opacity: 0;
					    }
					    &:nth-of-type(3){
			    	    -webkit-transform: rotate(-45deg);
						    -moz-transform: rotate(-45deg);
						    -ms-transform: rotate(-45deg);
						    -o-transform: rotate(-45deg);
						    transform: rotate(-45deg);
						    top: 18px;
					    }
						}
					}
					span{
						display: block;
						width: 75%;
						height: 5px;
						vertical-align: top;
						background: white;
						margin: 0 auto 5px auto; 
						border-radius: 10px;
				    -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
				    -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
				    -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
				    -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
				    transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
				    -webkit-transform-origin: 50% 50%;
				    -moz-transform-origin: 50% 50%;
				    -ms-transform-origin: 50% 50%;
				    -o-transform-origin: 50% 50%;
				    transform-origin: 50% 50%;
				    position: absolute;
				    top: 7px;
				    right: 12.5%;
				    &:nth-of-type(1){
				    	width: 50%;
				    	right: 25%;
				    }
				    &:nth-of-type(2){
			  	    -webkit-transition: opacity 0s .15s linear;
					    -moz-transition: opacity 0s .15s linear;
					    -ms-transition: opacity 0s .15s linear;
					    -o-transition: opacity 0s .15s linear;
					    transition: opacity 0s .15s linear;
					    top: 17px;
				    }
				    &:nth-of-type(3){
							top: 27px;
							width: 50%;
							right: 25%;
				    }	    
					}
				}			
				.storefront-primary-navigation{
					position: absolute;
					width: 80%;
					right: 0;				
					#site-navigation{
						display: inline-block;
						width: 75%;
						float: left;
						text-align: right;
						.primary-navigation{
							margin-right: 10px;
							ul{
								&:hover{
									li{
										a{
											opacity: .5;
										}
									}
								}
								li{
									&.menu-item-has-children{
										&:hover{
											background: #3c2909;
											a{
												opacity: 1;
											}
										}	
										.sub-menu{
											background: #3c2909;
											box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35); 
											li{
												a{
													font-size: 11pt;
													padding: 10px 30px 10px 15px;
													line-height: 20px;
													&:hover{
														background: #de782a;
													}
												}
											}
										}
									}
									a{
										width: 100%;
										line-height: 63px;
										padding: 0 10px;
										display: inline-block;
										font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
								    font-weight: bold;
								    font-style: normal;
										text-transform: uppercase; 
										font-size: 13pt;
										color: white;
										opacity: 1;
										-webkit-transition: .25s;
										-o-transition: .25s;
										-ms-transition: .25s;
										-moz-transition: .25s;
										&:after{
											display: none;
										}
										&:hover{
											text-decoration: none;
											background: #3c2909;
											opacity: 1;
										}
									}
								}
							}
						}
					}
					.site-header-social{
						list-style: none;
						width: 25%;
						float: right;
						margin: 13px 0 0 0;
						padding: 0;
						li{
							display: inline-block;
							width: 17%;
							margin: 0;
							img{
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}