/* line 1, assets/sass/footer.scss */
.site-footer {
  box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.5);
}
/* line 3, assets/sass/footer.scss */
.site-footer .footer-widgets {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
  padding-top: 10px;
}
/* line 9, assets/sass/footer.scss */
.site-footer .footer-widgets .widget {
  margin: 0 0 -25px 0;
}
/* line 15, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-1 .widget_text .textwidget a {
  width: 80%;
  display: inline-block;
}
/* line 18, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-1 .widget_text .textwidget a img {
  width: 100%;
  height: auto;
}
/* line 26, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 {
  text-align: center;
  padding-top: 5%;
  display: inline-block;
  width: 18%;
  position: relative;
  left: -30px;
}
/* line 35, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar {
  color: white;
  font-family: helvetica;
  font-size: 20pt;
  text-align: left;
  background: #1e7b3d;
  padding: 25px 30px;
  border-radius: 50%;
  width: 240px;
  display: inline-block;
  line-height: 32px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  position: relative;
}
/* line 53, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar:hover {
  text-decoration: none;
}
/* line 56, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar:after {
  content: '';
  display: inline-block;
  background: url(../storefront/assets/images/calendar_graphic.png);
  background-size: cover;
  width: 125px;
  height: 100px;
  position: absolute;
  top: 5px;
}
/* line 70, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 {
  text-align: center;
  padding-top: 4.5%;
  display: inline-block;
  width: 40%;
}
/* line 77, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget a {
  width: 42%;
  display: inline-block;
  position: relative;
}
/* line 81, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget a:first-of-type {
  left: -75px;
}
/* line 84, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget a:last-of-type {
  left: -15px;
}
/* line 88, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .win {
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 30pt;
  display: inline-block;
  width: 140px;
  line-height: 45px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.85);
}
/* line 97, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .win:hover {
  text-decoration: none;
}
/* line 101, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .solar {
  width: 115px;
  display: inline-block;
  margin-left: 50px;
}
/* line 105, assets/sass/footer.scss */
.site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .solar img {
  width: 100%;
  height: auto;
}
/* line 114, assets/sass/footer.scss */
.site-footer .footer-menu {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 0;
  background: url(http://armorsecurityandprotection.com/stokoe/wp-content/uploads/2017/05/topdarkwoodstrip.png) no-repeat;
  background-size: 100% 100%;
  background-position: 0 -10px;
  height: 80px;
  text-align: center;
  padding-top: 12px;
  position: relative;
}
/* line 126, assets/sass/footer.scss */
.site-footer .footer-menu ul {
  list-style: none;
}
/* line 128, assets/sass/footer.scss */
.site-footer .footer-menu ul li {
  display: inline-block;
  margin: 0 40px;
}
/* line 131, assets/sass/footer.scss */
.site-footer .footer-menu ul li a {
  color: white;
  font-size: 14pt;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
