/* line 4, assets/sass/home.scss */
body #page .site-content #primary {
  position: relative;
  margin-top: -285px;
  margin-bottom: -50px;
}
/* line 9, assets/sass/home.scss */
body #page .site-content #primary #main .master-slider {
  min-height: 650px;
  background: black;
  margin: -100px 0 !important;
}
/* line 14, assets/sass/home.scss */
body #page .site-content #primary #main .seasons {
  display: block;
  width: 95%;
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  top: -280px;
  margin-bottom: -280px;
}
/* line 22, assets/sass/home.scss */
body #page .site-content #primary #main .seasons ul {
  margin: 0;
}
/* line 24, assets/sass/home.scss */
body #page .site-content #primary #main .seasons ul li {
  display: inline-block;
  width: 33%;
}
/* line 27, assets/sass/home.scss */
body #page .site-content #primary #main .seasons ul li img {
  width: 100%;
  height: auto;
}
/* line 34, assets/sass/home.scss */
body #page .site-content #primary #main .middle {
  display: inline-block;
  width: 100%;
  position: relative;
  background: url(../storefront/assets/images/Wood_bkgrd.jpg);
  background-size: 100% 110%;
  background-position: 0px;
  box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.5);
}
/* line 42, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner {
  display: block;
  width: 95%;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  padding: 75px 0;
}
/* line 49, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left {
  display: inline-block;
  width: 65%;
  margin-right: 4%;
  position: relative;
  margin-top: 10px;
  height: auto;
  vertical-align: top;
}
/* line 57, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .opening {
  display: inline-block;
  width: 100%;
  padding: 45px 0;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 21pt;
  background: url(../storefront/assets/images/brown_bg.png);
  background-size: 100% 100%;
  margin-bottom: 15px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 72, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta {
  display: inline-block;
  width: 100%;
  padding: 20px 30px;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 22pt;
  background: url(../storefront/assets/images/light_bg.png);
  background-size: 100% 100%;
}
/* line 82, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta h1 {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  color: #b22348;
  margin-bottom: 15px;
  font-size: 25pt;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 90, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta .feed {
  display: inline-block;
  width: 100%;
}
/* line 93, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta .feed .alignnone {
  margin: 0;
}
/* line 96, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta .feed a {
  display: inline-block;
  width: 33%;
  margin: 0 -3px;
}
/* line 100, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .left .insta .feed a img {
  width: 100%;
}
/* line 107, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .basic {
  display: inline-block;
  width: 30%;
  margin: 0 -3px;
  position: relative;
  right: 0;
  top: 0;
  background: #eae5d8;
  height: auto;
  min-height: 400px;
  padding: 40px 25px 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.65);
  font-size: 12pt;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 122, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .basic:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  background: #2e2f2d;
  border-radius: 50%;
}
/* line 133, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .basic:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 8px;
  background: #2e2f2d;
  border-radius: 50%;
}
/* line 144, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .basic h1 {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  color: #b22348;
  margin-bottom: 15px;
  font-size: 28pt;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 152, assets/sass/home.scss */
body #page .site-content #primary #main .middle .inner .basic img {
  width: 98%;
  display: block;
  margin: 0 auto;
  height: auto;
}
