@media screen and (max-width: 1450px) {
  /* line 3, assets/sass/media.scss */
  .master-slider .ms-container {
    height: 650px !important;
  }
  /* line 5, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont {
    height: inherit !important;
  }
  /* line 7, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont .ms-view {
    height: inherit !important;
  }
  /* line 9, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container {
    height: inherit !important;
  }
  /* line 11, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container .ms-slide {
    height: inherit !important;
  }
  /* line 13, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container .ms-slide .ms-slide-bgcont {
    height: inherit !important;
  }
  /* line 15, assets/sass/media.scss */
  .master-slider .ms-container .ms-inner-controls-cont .ms-view .ms-slide-container .ms-slide .ms-slide-bgcont img {
    width: 155% !important;
    height: auto !important;
    max-width: inherit !important;
  }
}
@media screen and (max-width: 1400px) {
  /* line 33, assets/sass/media.scss */
  body #page .site-header .navigation_inner .site-branding {
    max-width: 350px;
  }
  /* line 41, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a {
    padding: 0 10px;
  }
  /* line 48, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation .site-header-social {
    margin: 10px 0 0 0;
  }
  /* line 57, assets/sass/media.scss */
  body #page .site-content #primary #main .master-slider {
    margin: -25px 0 !important;
  }
  /* line 60, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons {
    top: -300px;
    margin-bottom: -300px;
  }
  /* line 66, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left {
    width: 60%;
  }
  /* line 69, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .basic {
    width: 35%;
    font-size: 14pt;
  }
}
@media screen and (max-width: 1175px) {
  /* line 85, assets/sass/media.scss */
  body #page .site-header .navigation_inner {
    width: 99%;
  }
  /* line 87, assets/sass/media.scss */
  body #page .site-header .navigation_inner .site-branding {
    max-width: 275px;
  }
  /* line 95, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a {
    padding: 0 7.5px;
    font-size: 12pt;
  }
  /* line 103, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation .site-header-social {
    margin: 20px 0 0 0;
  }
  /* line 105, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation .site-header-social li {
    width: 18%;
    margin: 0;
  }
  /* line 118, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left {
    width: 56%;
    margin-top: 25px;
  }
  /* line 121, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .opening {
    margin-bottom: 30px;
  }
  /* line 125, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .insta .title {
    width: 100%;
  }
  /* line 130, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .basic {
    width: 40%;
  }

  /* line 141, assets/sass/media.scss */
  .site-footer .footer-widgets {
    width: 95%;
  }
  /* line 146, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-1 .widget_text .textwidget a {
    width: 100%;
  }
  /* line 152, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-2 {
    padding-top: 7%;
  }
  /* line 156, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar {
    width: 200px;
    padding: 20px 25px;
    font-size: 18pt;
  }
  /* line 164, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 {
    padding-top: 7%;
  }
  /* line 168, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .win {
    font-size: 22pt;
  }
  /* line 171, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .solar {
    margin: 0;
  }
}
@media screen and (max-width: 980px) {
  /* line 183, assets/sass/media.scss */
  body #page.active {
    right: 75%;
  }
  /* line 185, assets/sass/media.scss */
  body #page.active .storefront-primary-navigation {
    right: 0 !important;
  }
  /* line 191, assets/sass/media.scss */
  body #page .site-header .navigation_inner .site-branding {
    max-width: 280px;
  }
  /* line 194, assets/sass/media.scss */
  body #page .site-header .navigation_inner .site-branding a img {
    top: -10px;
    position: relative;
  }
  /* line 200, assets/sass/media.scss */
  body #page .site-header .navigation_inner .toggle {
    display: inline-block;
  }
  /* line 203, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation {
    position: fixed;
    overflow: scroll;
    right: -75%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: url(../storefront/assets/images/Wood_bkgrd.jpg);
    background-size: cover;
    box-shadow: inset 20px 0 30px rgba(0, 0, 0, 0.35);
    width: 75%;
    height: 100vh;
  }
  /* line 217, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation {
    width: 85%;
    text-align: center;
    display: block;
    position: relative;
    background: #eae5d8;
    height: auto;
    float: none;
    margin: 30px auto;
    padding: 20px 15px 20px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.65);
  }
  /* line 228, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 8px;
    height: 8px;
    background: #2e2f2d;
    border-radius: 50%;
  }
  /* line 239, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 8px;
    height: 8px;
    background: #2e2f2d;
    border-radius: 50%;
  }
  /* line 250, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation {
    display: inline-block;
    margin: 0;
    padding-top: 20px;
    width: 100%;
  }
  /* line 256, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li {
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    padding: 10px 0;
    position: relative;
    display: block;
    text-align: center;
  }
  /* line 265, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li.menu-item-has-children:hover {
    background: transparent !important;
  }
  /* line 269, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li.menu-item-has-children.active .sub-menu {
    height: auto;
  }
  /* line 273, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li.menu-item-has-children:after {
    content: "\e114";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    z-index: 10;
    position: absolute;
    right: 0;
    background: transparent;
    line-height: 60px;
    width: 50px;
    top: 0;
  }
  /* line 286, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li .sub-menu {
    background: transparent !important;
    height: 0;
    overflow: hidden;
    margin: 0;
    position: relative;
    box-shadow: none !important;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
  }
  /* line 297, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li .sub-menu li {
    border: none;
  }
  /* line 299, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li .sub-menu li a {
    font-size: 11pt;
    padding: 0;
    color: #333;
    line-height: 25px !important;
  }
  /* line 304, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li .sub-menu li a:hover {
    background: #de782a;
  }
  /* line 310, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li:nth-of-type(1) {
    border-top: none;
  }
  /* line 313, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li:last-of-type {
    border-bottom: none;
  }
  /* line 317, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li.current_page_item a {
    color: #890826;
  }
  /* line 321, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a {
    font-size: 18pt;
    color: #4a4a4a;
    line-height: 40px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
  }
  /* line 327, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a:focus {
    color: transparent !important;
  }
  /* line 330, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a:hover {
    background: transparent;
  }
  /* line 333, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a:before {
    display: none;
  }
  /* line 336, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation #site-navigation .primary-navigation ul li a:after {
    display: none;
  }
  /* line 344, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation .site-header-social {
    margin-top: 18px;
    width: 85%;
    float: none;
    display: block;
    margin: 0 auto 150px;
  }
  /* line 350, assets/sass/media.scss */
  body #page .site-header .navigation_inner .storefront-primary-navigation .site-header-social li {
    width: 20%;
    margin: 0 -1.5px;
  }
  /* line 361, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons {
    top: -225px;
    margin-bottom: -250px;
  }
  /* line 369, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left {
    width: 100%;
    margin: 0 auto;
  }
  /* line 375, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .insta .title {
    width: 60%;
  }
  /* line 380, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .basic {
    font-size: 13pt;
    width: 98%;
    margin: 30px auto;
    display: block;
  }

  /* line 398, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar {
    width: 170px;
    padding: 15px 20px;
    line-height: 26px;
  }
  /* line 402, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar:after {
    width: 90px;
    height: 70px;
    top: 10px;
  }
  /* line 411, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 {
    padding-top: 2%;
  }
  /* line 415, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .win {
    font-size: 18pt;
    width: 100%;
  }
  /* line 419, assets/sass/media.scss */
  .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .solar {
    width: 35%;
  }
  /* line 426, assets/sass/media.scss */
  .site-footer .footer-menu {
    padding-top: 25px;
  }
  /* line 429, assets/sass/media.scss */
  .site-footer .footer-menu ul li {
    margin: 0 20px;
  }
  /* line 431, assets/sass/media.scss */
  .site-footer .footer-menu ul li a {
    font-size: 16pt;
  }
}
@media screen and (max-width: 767px) {
  /* line 445, assets/sass/media.scss */
  body #page .site-content #primary #main .page {
    margin: 0;
  }
  /* line 448, assets/sass/media.scss */
  body #page .site-content #primary #main #summer-panel {
    background: url(../storefront/assets/images/pumpkin.jpg);
    background-size: cover;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0px;
    display: inline-block;
    width: 100%;
  }
  /* line 457, assets/sass/media.scss */
  body #page .site-content #primary #main #summer-panel .master-slider {
    display: none;
  }
  /* line 461, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons {
    top: 0;
    display: block;
    margin-bottom: 50px;
  }
  /* line 465, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons ul {
    margin: 0;
  }
  /* line 467, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons ul li {
    width: 100%;
  }
  /* line 475, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .opening {
    font-size: 18pt;
  }
  /* line 490, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-1 .widget_text .textwidget a {
    width: 50%;
    min-width: 250px;
    display: block;
    margin: 0 auto;
  }
  /* line 499, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-2 {
    display: block;
    padding-top: 8%;
    margin: 75px 0 85px;
  }
  /* line 505, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-2 .widget_text .textwidget .calendar {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    left: -20px;
  }
  /* line 516, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-3 {
    display: block;
    padding-top: 8%;
  }
  /* line 521, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .win {
    font-size: 24pt;
    width: 100%;
    margin: 0 0 20px 0;
  }
  /* line 526, assets/sass/media.scss */
  body .site-footer .footer-widgets .footer-widget-3 .widget_text .textwidget .solar {
    width: 125px;
  }
  /* line 533, assets/sass/media.scss */
  body .site-footer .footer-menu {
    margin-top: 40px;
    padding-top: 25px;
    background-size: 200% 200%;
    height: auto;
  }
  /* line 538, assets/sass/media.scss */
  body .site-footer .footer-menu ul {
    margin: 0;
    padding: 0 0 30px 0;
  }
  /* line 541, assets/sass/media.scss */
  body .site-footer .footer-menu ul li {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  /* line 546, assets/sass/media.scss */
  body .site-footer .footer-menu ul li:first-of-type {
    border-top: none;
  }
  /* line 549, assets/sass/media.scss */
  body .site-footer .footer-menu ul li:last-of-type {
    border-bottom: none;
  }
  /* line 552, assets/sass/media.scss */
  body .site-footer .footer-menu ul li a {
    font-size: 16pt;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
  }
}
@media screen and (max-width: 550px) {
  /* line 570, assets/sass/media.scss */
  body #page .site-content #primary #main .page {
    margin: 0;
  }
  /* line 573, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons {
    top: 0;
    margin-bottom: 50;
  }
  /* line 577, assets/sass/media.scss */
  body #page .site-content #primary #main .seasons ul li {
    width: 100%;
    margin-bottom: -25px;
  }
  /* line 583, assets/sass/media.scss */
  body #page .site-content #primary #main .middle {
    background-size: cover;
  }
  /* line 587, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .opening {
    font-size: 22pt;
    padding: 45px 30px;
  }
  /* line 592, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .insta .title {
    width: 100%;
  }
  /* line 595, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .insta .feed {
    margin: 15px 0;
  }
  /* line 597, assets/sass/media.scss */
  body #page .site-content #primary #main .middle .inner .left .insta .feed a {
    width: 100%;
  }
}
