/* line 4, assets/sass/second.scss */
body #page .site-content #second {
  position: relative;
  margin-top: 0;
  margin-bottom: -50px;
  width: 100%;
}
/* line 9, assets/sass/second.scss */
body #page .site-content #second .top {
  position: relative;
  top: -35vh;
  margin-bottom: -35vh;
  height: 30vh;
  overflow: hidden;
}
/* line 15, assets/sass/second.scss */
body #page .site-content #second .top img {
  top: -200px;
  width: 100%;
  position: relative;
}
/* line 21, assets/sass/second.scss */
body #page .site-content #second #main {
  display: inline-block;
  width: 100%;
  background: url(../storefront/assets/images/Wood_bkgrd.jpg);
  background-size: 100% 110%;
  background-position: 0px;
  box-shadow: 0px 0 30px black;
  position: relative;
}
/* line 29, assets/sass/second.scss */
body #page .site-content #second #main .inner {
  display: block;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 75px 0;
}
/* line 37, assets/sass/second.scss */
body #page .site-content #second #main .inner.full .page {
  width: 100%;
}
/* line 41, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar {
  display: inline-block;
  z-index: 10;
  width: 25%;
  position: relative;
  padding: 25px 15px;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
  background: url(../storefront/assets/images/light_bg.png);
  background-size: 100% 100%;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 55, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 59, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 65, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li.current_page_item {
  background: rgba(0, 0, 0, 0.35);
}
/* line 68, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li:first-of-type {
  border-top: none;
}
/* line 71, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li:last-of-type {
  border-bottom: none;
}
/* line 75, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li:hover a {
  background: #3c2909;
  color: white;
  text-decoration: none;
}
/* line 81, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li a {
  text-shadow: none;
  color: #3c2909;
  width: 100%;
  padding: 5px 10px;
  display: inline-block;
}
/* line 89, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li:hover .sub-menu {
  display: inline-block;
}
/* line 93, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li .sub-menu {
  position: absolute;
  background: #3c2909;
  right: -100%;
  width: 100%;
  top: 0;
  display: none;
  padding: 15px;
}
/* line 103, assets/sass/second.scss */
body #page .site-content #second #main .inner .sidebar ul li .sub-menu li a:hover {
  background: #de782a;
}
/* line 112, assets/sass/second.scss */
body #page .site-content #second #main .inner .page {
  display: inline-block;
  width: 70%;
  float: right;
  position: relative;
  background: #eae5d8;
  height: auto;
  margin: 0 auto 50px;
  padding: 25px 25px 20px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.65);
}
/* line 122, assets/sass/second.scss */
body #page .site-content #second #main .inner .page:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  background: #2e2f2d;
  border-radius: 50%;
}
/* line 133, assets/sass/second.scss */
body #page .site-content #second #main .inner .page:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 8px;
  background: #2e2f2d;
  border-radius: 50%;
}
/* line 144, assets/sass/second.scss */
body #page .site-content #second #main .inner .page h1 {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  color: #b22348;
  margin-bottom: 15px;
  font-size: 23pt;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  max-width: 55%;
}
/* line 153, assets/sass/second.scss */
body #page .site-content #second #main .inner .page h2 {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  color: #333;
  font-size: 18pt;
  margin-bottom: 25px;
}
/* line 160, assets/sass/second.scss */
body #page .site-content #second #main .inner .page h3 {
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  font-size: 20px;
  color: #b22348;
  margin-bottom: 15px;
}
/* line 167, assets/sass/second.scss */
body #page .site-content #second #main .inner .page h4 {
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  font-size: 18px;
  color: #b22348;
  margin-bottom: 15px;
}
/* line 174, assets/sass/second.scss */
body #page .site-content #second #main .inner .page p {
  text-align: justify;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
/* line 177, assets/sass/second.scss */
body #page .site-content #second #main .inner .page p .alignnone {
  display: inline-block;
}
/* line 180, assets/sass/second.scss */
body #page .site-content #second #main .inner .page p .main {
  display: flex;
  width: 35%;
  float: right;
  vertical-align: top;
  padding: 5px;
  margin: -17% 10px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
/* line 190, assets/sass/second.scss */
body #page .site-content #second #main .inner .page p .main.history {
  width: 50%;
  margin-top: -6%;
}
/* line 196, assets/sass/second.scss */
body #page .site-content #second #main .inner .page p strong a {
  font-size: 14pt;
  font-family: 'Simonetta', cursive;
}
/* line 202, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 204, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar .cal_h1 {
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  font-size: 20px;
  color: #b22348;
  margin-bottom: 15px;
}
/* line 213, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar tr:nth-of-type(2) th {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 15px;
}
/* line 222, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
}
/* line 226, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar tr td {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: bold;
  text-align: left;
}
/* line 232, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar tr td .calendar_text {
  font-family: 'Simonetta', cursive;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-size: 9pt;
}
/* line 242, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar tr td a {
  color: white;
  text-decoration: underline;
  font-size: 9pt;
  font-weight: bold;
  line-height: 14px;
  display: inline-block;
  font-family: 'Simonetta', cursive;
  margin-bottom: 10px;
  text-align: left;
}
/* line 257, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .discount ul {
  font-size: 13pt;
  list-style: none;
}
/* line 260, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .discount ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* line 264, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .discount ul li:last-of-type {
  border-bottom: none;
}
/* line 269, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .discount h5 {
  font-size: 13pt;
}
/* line 274, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .harvest h3 {
  margin-bottom: 30px;
}
/* line 277, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .harvest ul {
  list-style: none;
}
/* line 279, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .harvest ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
  margin-bottom: 15px;
}
/* line 283, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .harvest ul li:last-of-type {
  border-bottom: none;
}
/* line 287, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .harvest ul h4 {
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  font-size: 16px;
  color: #b22348;
  margin-bottom: 5px;
}
/* line 297, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 301, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .events ul li {
  padding: 10px 0;
}
/* line 306, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products {
  list-style: none;
}
/* line 308, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 315, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .woocommerce-LoopProduct-link {
  width: 20%;
  vertical-align: top;
  display: inline-block;
}
/* line 319, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .woocommerce-LoopProduct-link img {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  top: -1px;
}
/* line 327, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap {
  display: inline-block;
  width: 80%;
  height: 190px;
  position: relative;
}
/* line 332, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16pt;
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  color: #b22348;
}
/* line 341, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap .woocommerce-product-details__short-description {
  display: inline-block;
  min-height: auto;
  text-align: left;
  padding: 15px;
  font-size: 10pt;
  line-height: 22px;
  width: 70%;
  margin: 0 -3px 10px;
  margin: 55px 0px 0 20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 354, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap .woocommerce-product-details__short-description strong {
  color: #b22348;
}
/* line 357, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap .woocommerce-product-details__short-description ul {
  list-style: disc;
  display: list-item;
}
/* line 360, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .info-wrap .woocommerce-product-details__short-description ul li {
  border-top: none;
  display: list-item;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
/* line 370, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .price {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  background: #b22348;
  text-align: center;
  padding: 25px 0;
  height: 50%;
  float: right;
}
/* line 379, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .price .woocommerce-Price-amount {
  font-size: 18pt;
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  color: white;
}
/* line 384, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .price .woocommerce-Price-amount:after {
  content: 'Per Person';
  display: block;
  font-family: 'Simonetta', cursive;
  font-weight: 400;
  margin-top: -10px;
  font-size: 10pt;
  color: white;
}
/* line 395, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .products li .button {
  display: inline-block;
  position: absolute;
  right: 0;
  left: 80%;
  top: 45%;
  text-transform: uppercase;
  border: 2px solid #b22348;
  background: transparent;
  color: #b22348;
  text-align: center;
}
/* line 411, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head {
  background: transparent;
}
/* line 413, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous {
  border: none;
}
/* line 415, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous a {
  position: relative;
  display: inline;
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  color: #b22348;
  margin-bottom: 15px;
  opacity: .75;
}
/* line 423, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous a:hover {
  opacity: 1;
}
/* line 425, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous a:hover:before {
  margin-right: 5px;
  left: -5px;
}
/* line 430, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous a:before {
  content: "\e079";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 9pt;
  left: 0;
  position: relative;
  -webkit-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  -moz-transition: .15s;
}
/* line 443, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .previous a span:first-of-type {
  display: none;
}
/* line 449, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .current-month {
  border: none;
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  color: #333;
  font-size: 11pt;
  position: relative;
}
/* line 456, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .current-month div {
  font-size: 18pt;
}
/* line 459, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .current-month a {
  text-indent: -9999px;
  display: inline-block;
}
/* line 463, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .current-month a:first-of-type:before {
  content: "\e079";
  display: inline-block;
  text-indent: 0;
  position: absolute;
  left: 20%;
  top: 30px;
  font-family: 'Glyphicons Halflings';
  font-size: 13pt;
  color: #b22348;
  -webkit-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  -moz-transition: .15s;
}
/* line 480, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .current-month a:last-of-type:before {
  content: "\e080";
  display: inline-block;
  text-indent: 0;
  position: absolute;
  right: 20%;
  top: 30px;
  font-family: 'Glyphicons Halflings';
  font-size: 13pt;
  color: #b22348;
  -webkit-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  -moz-transition: .15s;
}
/* line 498, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next {
  border: none;
}
/* line 500, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next a {
  position: relative;
  display: inline;
  font-family: 'Simonetta', cursive;
  font-weight: 800;
  color: #b22348;
  margin-bottom: 15px;
  opacity: .75;
}
/* line 508, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next a:hover {
  opacity: 1;
}
/* line 510, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next a:hover:after {
  margin-left: 5px;
  right: -5px;
}
/* line 515, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next a:after {
  content: "\e080";
  display: inline-block;
  position: relative;
  right: 0;
  font-family: 'Glyphicons Halflings';
  font-size: 9pt;
  -webkit-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  -moz-transition: .15s;
}
/* line 528, assets/sass/second.scss */
body #page .site-content #second #main .inner .page .calendar_main .ecwd_calendar .calendar-head .next a span:last-of-type {
  display: none;
}

/* line 545, assets/sass/second.scss */
#second .master-slider-parent {
  max-width: 250px;
  max-height: 150px;
  position: relative;
  display: inline-flex;
  float: right;
  vertical-align: top;
  margin-top: -15%;
  margin-right: 30px;
  padding: 0 0 20px 20px;
}
/* line 555, assets/sass/second.scss */
#second .master-slider-parent img {
  width: 100% !important;
  margin: 0 !important;
}

/* line 564, assets/sass/second.scss */
.page-id-85 .page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 568, assets/sass/second.scss */
.page-id-85 .page ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px 0 15px 10px;
}
/* line 571, assets/sass/second.scss */
.page-id-85 .page ul li img {
  display: inline-block;
  width: 48%;
  margin: 25px 0;
  padding: 10px;
  background: white;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 580, assets/sass/second.scss */
.page-id-85 .page ul li:last-of-type {
  border-bottom: none;
}
/* line 583, assets/sass/second.scss */
.page-id-85 .page ul li h4 {
  margin-bottom: 0px !important;
}

/* line 593, assets/sass/second.scss */
.page-id-90 ul li img {
  display: inline-block;
  margin: 0 25px 25px 0;
  padding: 10px;
  background: white;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
